body {
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 169, 236, 0.7);
  overflow-y: hidden;
  text-align: center !important;
}

#name-form {
  display: none;
  background: transparent;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}

input[type="text"] {
  background-color: #ccc;
  border: 1px solid #a1a3a3;
  border-radius: 15px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 50px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 340px;
}

input[name="saveNameBtn"] {
  width: 75px;
  height: 75px;
  display: block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 #a68837;
  padding-top: 6px;
  margin: 36px 0 0 220px;
  position: relative;
  cursor: pointer;
  border: none;
  background-image: url(../../public/assets/buttonplay.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

input[name="back"] {
  width: 75px;
  height: 75px;
  display: block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 #a68837;
  padding-top: 6px;
  margin: 29px 0 0 220px;
  position: relative;
  cursor: pointer;
  border: none;
  background-image: url(../../public/assets/buttonback1.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#score {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #5d1512;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 30%;
  right: 25%;
  width: 40%;
  height: auto;
}

#score > span {
  width: auto;
  padding: 5% 8%;
}

#menu {
  position: absolute;
  top: 80%;
  left: 49%;
  right: 50%;
  width: 75px;
  height: 75px;
  display: none;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 #a68837;
  padding-top: 6px;
  cursor: pointer;
  border: none;
  background-image: url(../../public/assets/buttonback1.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#warning {
  font-size: 25px;
  font-weight: bolder;
  border-radius: 6px;
  padding: 0 5px;
  background-color: white;
  color: #9c1612;
}
